__pycache__/
/cronos_dump/__pycache__/
/json_parser/__pycache__/
/tests/__pycache__/
/folder_parser/__pycache__/
/validator/__pycache__/
/engine_modul/__pycache__/
/reader/__pycache__/
/writer/__pycache__/
/CONFIG.env
/venv/
/.idea/
/sender/sender_old_ar.py
/sender/server_ar.py
/json_parser/data/
